.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

/* H1 Card */
h1 {
  display: inline-block;
  margin: 30px auto;
  padding: 20px 50px;
  background: #232931;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);

  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #000;
  font-size: 5rem;
  color: #4ECCA3;
}

.dice-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.dice {
  width: 280px;
  background: #232931;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

button {
  margin-top: 40px;
  background-color: #4ECCA3;
  color: #EEEEEE;
  font-size: 2rem;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #37b28c;
  transform: scale(1.05);
}

body {
  background-color: #393E46;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 180px;
}

footer {
  margin-top: 60px;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}